<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-slides autoplay="3000" pager>
      <ion-slide>
        <img src="https://via.placeholder.com/350x150" alt="">
      </ion-slide>
      <ion-slide>
        <img src="https://via.placeholder.com/350x150" alt="">
      </ion-slide>
      <ion-slide>
        <img src="https://via.placeholder.com/350x150" alt="">
      </ion-slide>
      <ion-slide>
        <img src="https://via.placeholder.com/350x150" alt="">
      </ion-slide>

    </ion-slides>
  </ion-card>
</ion-content>