page-home {
  ion-card {
    margin: 0 !important;
    width: 100% !important;
    box-shadow: none !important;
  }
  .scroll-content {
    padding: 0 !important;
  }
  .swiper-slide img {
    width: 100% !important;
  }
}
