<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="openPage(p)">
        Home
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="HomePage" #content></ion-nav>